/* shared styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
.section {
  width: 82.5%;
  max-width: 660px;
  margin: 25px auto 170px;
  border-radius: 16px;
}
/* header related styles */

#header-banner {
  
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");

  font-family: "Merriweather", serif;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 182px 344px;
}
#header-banner > h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 16px;
}
#header-banner > h1 {
  text-align: center;
  font-size: 65px;
  font-weight: 900;
  line-height: 95px;
}

/* Sale section */

#sale-section {
  font-family: "Inter", sans-serif;
  max-width: 410px;
}

#sale-section > div > h1 {
  color: #f00;

  text-align: center;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
#sale-section > div > h4 {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
#sale-section > div > h3 {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
.newyear-img {
  display: flex;
  justify-content: center;
}

/* midnight party section */

#midnight-party {
  background: url("../resources/Vectorrr.png");
  padding: 150px 500px 150px 126px;
  background-size: cover;
  background-repeat: no-repeat;
}
#midnight-party > h2 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
#midnight-party > p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
